
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional: Forzar Syne en todo el body */
body {
  font-family: 'Syne', sans-serif;
}